[Unit]
Description=vault
Requires=network-online.target
After=network-online.target vault-agent.service

[Service]
ExecStart=/usr/local/bin/vault server -config /etc/vault.d
Type=simple
User=vault
Group=vault
Restart=on-failure

[Install]
WantedBy=multi-user.target